@model IEnumerable<f1h2o5.Models.Team>

@{
    ViewBag.Title = "The F1H2O teams";
}

<h2>Here are the F1H2O teams...</h2>

@*I made 'Create', 'Edit', and 'Delete' links only available to Admin roles.*@

@if (@User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sponsor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Boat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sponsor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamYear)
        </td>
        <td>
            <ul>
                <li> @Html.ActionLink("Details", "Details", new { id = item.TeamId })</li>
                @if (@User.IsInRole("Admin"))
                {
                    <li> @Html.ActionLink("Edit", "Edit", new { id = item.TeamId }) </li>
                    <li> @Html.ActionLink("Delete", "Delete", new { id = item.TeamId })</li>}
            </ul>
        </td>
    </tr>
}

</table>
